$soft-blue: hsla(215, 52%, 70%, 0.836);
$cyan: hsl(178, 100%, 50%);
$dark-blue-mbg: hsl(217, 54%, 11%);
$dark-blue-cbg: hsl(216, 50%, 16%);
$dark-blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
$box-shadow: hsl(212, 56%, 10%);